@model IEnumerable<SchoolPortal.Web.Models.Entities.Documentary>

@if (Model != null)
{
    foreach (var menu in Model)
    {
        <li><a href="@Url.Action("Details", "Doc", new {area = "Documentaries", id = menu.Id, title=menu.Title})"><i class="fa fa-circle-o"></i> @menu.Title</a></li>
    }
}
else
{
    <li>No Documentary yet!</li>
}

