
@{
    ViewBag.Title = "ResultAnalysis";
}

<h2>ResultAnalysis</h2>

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @ViewBag.name <br />
        @ViewBag.Resulttotal / @ViewBag.total
    </div>
</div>