@model SchoolPortal.Web.Models.UI.SiteSinglePost

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Raw(ViewBag.head)
    @Html.Raw(ViewBag.overridecss)
</head>

<body>
    @Html.Raw(Model.Content)
    @Html.Raw(ViewBag.footerJs)
</body>
</html>