
* {
    -webkit-print-color-adjust: exact;
}

body {
    /*background-image: url(data:image/jpg;base64,@(Convert.ToBase64String(Model.SchoolLogo)));*/
    background-repeat: no-repeat;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.done td {
    border: 1px solid #ffffff;
}

a[href]:after {
    content: none !important;
}
.header, .hide {
    visibility: hidden
}