
@{
    ViewBag.Title = "A2F";
}

<h2>A2F</h2>

<div class="box-body">

    <div class="box">
        <div class="box-body box-profile" style="color:#000000;text-align:center;">
        

            <div>
                <img src="@ViewBag.BarcodeImageUrl" height="300" width="300" />
            </div><br /><br />
          
            <strong style="word-break: break-all"> @ViewBag.SetupCode</strong>
            </div>
        </div>
    </div>
