
@{
    ViewBag.Title = "ReconsileRegNumbers";
}

<h2>ReconsileRegNumbers</h2>

@using (Html.BeginForm())
{

    <div class="box-body">



    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Continue</button>
        <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
    </div>

}
