
@{
    ViewBag.Title = "EmptyExcelFolder";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h1>  @ViewBag.mssg</h1>
            </div>
        </div>
    </div>
</div>