@model SchoolPortal.Web.Models.Entities.ImageModel

@{
    ViewBag.Title = "SchoolStam";
}


<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Change Stamp</h3>

            </div>

            <div>
                <h3>Previous Stamp</h3>
                @if (Model.ImageContent != null)
                {
                    <img class="" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.ImageContent))" alt="" style="height:150px;margin-left:auto;margin-right:auto;">
                }
            </div>
            @using (Html.BeginForm("SchoolStam", "Settings", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                   
                    <div class="form-group">
                        @Html.Label("School Stamp", htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            <div class="">
                                <input type="file" name="upload" class="form-control" required="required" />
                            </div>
                        </div>
                    </div>



                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>

            }
        </div>

    </div>
    <div class="col-md-3"></div>

</div>
