@using SchoolPortal.Web.Areas.Service

@{
    ViewBag.Title = "Master List All Sessions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master List Management</h3>
                @if (TempData["msg"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["msg"]
                    </div>
                }


            </div>
            @using (Html.BeginForm("MasterList", "ResultManagement", null, FormMethod.Post))
            {
                @*@Html.AntiForgeryToken()*@

                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        Select Session
                        <div class="">
                            @Html.DropDownList("sessId", ViewBag.sessionId as SelectList, "choose a session", htmlAttributes: new { @class = "form-control", required = "Choose a session" })


                        </div>
                    </div>

                    <div class="form-group">
                        Select Class
                        <div class="">
                            @Html.DropDownList("classId", ViewBag.ClassLevelId as SelectList, "choose a class", htmlAttributes: new { @class = "form-control", required = "Choose a class" })


                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Show Master List</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>

            }
        </div>

    </div>
    <div class="col-md-3"></div>

</div>

@section Scripts {
        @**@
}
