<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/tables/datatables.min.css">
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
    @*<title>
      mmm
    </title>*@
</head>
<body>

    <style type="">
        .first {
            width: 80%;
            margin: :auto;
            border: 1px solid gray;
            border-radius: 10px;
        }
    </style>
    <div class="container-fluid first">
        @RenderBody()
    </div>

    <div class="container-fluid first">
        <div class="m-datatable">
            <table id="datatable" class="table ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>Benard</td>
                        <td>gwogwo yaya</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

    <script src="http://v1.exwhyzee.ng/tables/jquery.min.js"></script>
    <script src="http://v1.exwhyzee.ng/tables/datatables.min.js"></script>
    <script src="http://v1.exwhyzee.ng/tables/custom.datatables.min.js"></script>
</body>
</html>
