@model SchoolPortal.Web.Models.Entities.ImageModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">New Content item</h3>

                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@TempData["error"]</strong>
                    </div>
                }
            </div>
            @using (Html.BeginForm("Create", "ContentImages", new {  }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                
                    @*@Html.AntiForgeryToken()*@

                    <div class="box-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("file", htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                <input type="file" name="upload" required="required" multiple="multiple" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                    </div>

                }
            </div>

    </div>
    <div class="col-md-3"></div>

</div>


@section Scripts {
        
}
