@model SchoolPortal.Web.Models.Entities.Qualification

@{
    ViewBag.Title = "DeleteQualification";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>

                <h3 class="box-title">Delete Qualification</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="alert alert-danger alert-dismissible">

                    <h4>
                        <i class="icon fa fa-ban"></i> Alert! Are you sure you want to delete this?
                    </h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NameOfInstitution)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NameOfInstitution)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CertificateObtained)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CertificateObtained)
                        </dd>



                    </dl>
                    @using (Html.BeginForm())
                    {
                        @*@Html.AntiForgeryToken()*@

                        <div class="form-actions no-color btn-delete">
                            <input type="submit" value="Delete" class="btn btn-default" /> &nbsp;
                            <a href="javascript: history.back()" class="btn btn-default">Cancel</a>

                        </div>
                    }


                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->


    <div class="col-md-3"></div>

</div>